{% extends 'portfolio/base.html' %}

{% load static %}
{% block content %}
<div class="homepage-content py-5">
    <div class="container">
        <div class="row align-items-center">
            <!-- Left Column: Image -->
            <div class="col-12 col-md-6 text-center">
                <img src="{% static 'images/sample_photo.png' %}" alt="Sample Image" class="img-fluid rounded">
            </div>
    
            <!-- Right Column: Text -->
            <div class="col-12 col-md-6 text-content text-center text-md-start mt-4 mt-md-0">
                <h1 class="display-4 fw-bold">Welcome to My Portfolio!</h1>
                <p class="lead mt-4">
                    I'm Matthew Mangion, a passionate IT professional. Explore my projects, 
                    blog, and get in touch for collaboration opportunities.
                </p>
                <p>
                    With a focus on Python, Flask, Django, Django REST Framework, HTML, CSS, and Bootstrap technologies, 
                    I've worked on numerous exciting projects showcasing my skills and dedication.
                </p>
                <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-start mt-4">
                    <a href="{% url 'project_gallery' %}" class="btn btn-primary me-md-4 mb-3 mb-md-0">Explore My Projects</a>
                    <a href="{% static 'resume.pdf' %}" target="_blank" class="btn btn-outline-primary">Download Resume</a>
                </div>

                <!-- Social Media Icons -->
                <div class="social-media-links d-flex justify-content-center justify-content-md-start mt-5">
                    <a href="https://www.linkedin.com/in/matthewmangion/" target="_blank" class="social-icon me-3">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                    <a href="https://github.com/mattmang" target="_blank" class="social-icon me-3">
                        <i class="fab fa-github fa-lg"></i>
                    </a>
                    <a href="https://x.com/MatMangion" target="_blank" class="social-icon me-3">
                        <i class="fab fa-twitter fa-lg"></i>
                    </a>
                    <a href="https://www.instagram.com/mangionmatthew/" target="_blank" class="social-icon">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}