{% extends 'portfolio/base.html' %}

{% block content %}
<div class="body">
    <div class="container py-4">

        <!-- Projects Grid -->
        <div class="row mt-4 mb-4 d-flex">
            {% if projects %}
                {% for project in projects %}
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <a href="{{ project.link }}" target="_blank" class="text-decoration-none">
                        <div class="card custom-card">
                            <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
                            <div class="card-body">
                                <h5 class="card-title"><strong>{{ project.title }}</strong></h5>
                                <p class="card-text">{{ project.description|safe }}</p>
                                {% if project.technologies %}
                                <p><strong>Technologies: </strong>{{ project.technologies }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% else %}
                <p class="text-center text-white fs-5 mt-4">Currently, no projects are available. Please check back later!</p>
            {% endif %}
        </div>
        
        <!-- Pagination -->
        {% if projects %}
        <div class="d-flex justify-content-end pagination-container">
            <!-- Previous Button -->
            {% if projects.has_previous %}
                <a href="?page={{ projects.previous_page_number }}" class="btn btn-outline-primary me-2">Previous</a>
            {% endif %}

            <!-- Page Numbers -->
            {% for page_num in projects.paginator.page_range %}
                {% if page_num == projects.number %}
                    <span class="btn btn-primary me-2">{{ page_num }}</span>
                {% else %}
                    <a href="?page={{ page_num }}" class="btn btn-outline-primary me-2">{{ page_num }}</a>
                {% endif %}
            {% endfor %}

            <!-- Next Button -->
            {% if projects.has_next %}
                <a href="?page={{ projects.next_page_number }}" class="btn btn-outline-primary ms-2">Next</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}