{% extends 'portfolio/base.html' %}

{% block content %}
<div class="blog-post-detail">
    <div class="container py-5">
        <div class="md-2 mb-2">
            <h1>{{ post.title }}</h1>
            <br>
            <p>{{ post.date_posted|date:"j F Y, H:i" }}</p>
            <br>        
            <div class="content blog-post-detail">
            <p>{{ post.content }}</p>
            </div>
            <br>

            {% if post.category %}
                <p><strong>Category:</strong> {{ post.category }}</p>
            {% endif %}
            <br>

            <a href="{% url 'blog_list' %}" class="btn btn-primary">Back to Blog List</a>
        </div>
    </div>
</div>

{% endblock %}
